body{background-color: white;
 
}
#top{
 
    background-image: url(https://images.unsplash.com/photo-1505171491524-6f6cb31480ec?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2f758a4b3a41c65420b4b13020ecac47&auto=format&fit=crop&w=675&q=80);
    padding-bottom: 200px;
    padding-top: 100px;
    
    

}

.img { 
  border-radius: 100%;
  height: 200px;
  width: 200px;
}
   
#top-title{
    
    font-family: arial;
    font-weight: normal;
    font-size: 60px;
    color: dimgray;
    border: 5px solid;
    margin-left: 425px;
    margin-right: 425px;
}


p{
    font-family: calibri;
    font-size: 18px;
}

.container{
    text-align: center;
    padding: 15px 100px;
    margin: 0 250px;
    color: dimgray
    
}

h2{
    margin-left: 100px;
    line-height: 50px;
    color: dimgray;
}

.panera-loc{
    display: inline;
    font-weight: normal;
}
.ha{
    margin-left: 150px;
    line-height: 2;
    margin-top: 0px;
}

.pe{
    margin-left: 150px;
    line-height: 22px;
}

.ng-loc{
    display: inline;
    font-weight: normal;
}
.v{
    margin-left: 150px;
    line-height: 2;
    margin-bottom: 0px;
}

.ge{
    margin-left: 150px;
line-height: 22px;
}

.g-loc{
    display: inline;
    font-weight: normal;
}

.me{
    margin-left: 150px;
line-height: 22px;
}

.high-school{
    margin-left: 150px;
    line-height: 1;
    margin-top: 0px;
    font-style: italic;
}
.edu{
    margin-left: 770px;
}

.fgcu{
    margin-left: 150px;
    line-height: 1;
    margin-top: 0px;
    font-style: italic;
}

#skills{
    margin-left: 800px;
}
.ps{
margin-left: 150px;
}

.bi{
    margin-left: 150px;
}

.ft{
    float: right;
    margin-right:600px;
}
.self{
    float: right;
    margin-right: 578px;
}
.achievements{
    margin-left: 750px;
}

li{
    font-family: arial;
}

*{
    margin: 0;
    padding: 0;
}
.bottom{
    margin-bottom: 100px;
}
