body{
    background-color: white;
    margin: 0;}
p{
    font-family: calibri;
    font-size: 20px;}
h2{
    font-size: 26px;
    font-family:cambria; 
    color: dimgray;
    text-align: center;}
h3{
    font-size: 22px;
    font-family: arial;
    padding-left: 100px; 
    color: dimgray;
    font-weight: 10;}
h4{
    font-size: 18px;
    padding-left: 125px;
    font-family: arial;
    font-weight: 200;
    color: dimgray;}
li{
     font-family: arial;
    font-size: 18px}


/* Start of Navagation Bar*/
.navagation-bar{
    padding-top: 20px;
    text-align: center;}
a{
    text-decoration: none;
    color: dimgray;
    text-align: center;
    width: 120px;
    display: inline-block;
    font-family: arial;
    font-size: 18px;
    transition: all .4s ease-in-out;}
a:nth-child(n):hover{
    color: antiquewhite;}
/* End of Navagation Bar*/


/* Start of Upper half of page */

.upper-page-background{
    background-image: url(https://images.unsplash.com/photo-1489861518096-4d12b732e831?ixlib=rb0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b54a866f144d0bd03a41a6ebf5e4b1b9&auto=format&fit=crop&w=1614&q=80);
    padding-top: 0%;
    padding-bottom: 12%;
    padding-right: 5%;
    padding-left: 5%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;}
#intro-title{
    padding-top: 7%;
    font-family: arial;
    font-weight: normal;
    font-size: 60px;
    color: dimgray;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;}
.portrait{ 
    border-radius: 100%;
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;}

.introduction-paragraph{
    color: dimgray;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;}
/* End of Upper half of page */



/* Start of Work Experience and Education*/
.panera-duties{
    line-height: 25px;
    padding-left: 200px;
    margin-left: auto;
    margin-right: auto;}

.botanical-garden-duties{
    line-height: 25px;
    padding-left: 200px;
    margin-left: auto;
    margin-right: auto;}

.galisono-duties{
    line-height: 25px;
    padding-left: 200px;
    margin-left: auto;
    margin-right: auto;}

.high-school{
    line-height: 25px;
    padding-left: 125px;
    font-style: italic;}
.fgcu{
    line-height: 25px;
    padding-left: 125px;
    font-style: italic;}
/* End of Work Experience and Education*/


/* Misc -fix video centering*/
.skills{
    padding-left: 200px;}
.achievements{
    text-align: center;}
.video{
    margin: 0 auto;
    display: block;
    width: 330px;}
.video-alternative{
    padding-left: 45%;
    padding-right: 60%;}
.audio{
    padding-left: 40%;
    padding-right:60%;}
svg{
    padding-left: 35%;}
canvas{
    padding-left: 35%;}


/* Work CSS Page*/
