body{background-color: white;
margin: 0;
}


.w2{
    padding-top: 20px;
}
.top{
background-image: url(https://images.unsplash.com/photo-1489861518096-4d12b732e831?ixlib=rb0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b54a866f144d0bd03a41a6ebf5e4b1b9&auto=format&fit=crop&w=1614&q=80);
padding-top: 0%;
padding-bottom: 12%;
padding-right: 5%;
padding-left: 5%;
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
margin: 0;

}


.img { 
  border-radius: 100%;
  height: 200px;
  width: 200px;
  display: block;
 margin-left: auto;
 margin-right: auto;
    
}
   
#top-title{
    padding-top: 7%;
    font-family: arial;
    font-weight: normal;
    font-size: 60px;
    color: dimgray;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}


p{
    font-family: calibri;
    font-size: 20px;
}

.container{
    color: dimgray;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}

h2{
    margin-left: 100px;
    line-height: 50px;
    color: dimgray;
}

.panera-loc{
    display: inline;
    font-weight: normal;
}

.ha{
    margin-left: 150px;
    line-height: 2;
    margin-top: 0px;
}

.pe{
    margin-left: 150px;
    line-height: 22px;
}

.ng-loc{
    display: inline;
    font-weight: normal;
}
.v{
    margin-left: 150px;
    line-height: 2;
    margin-bottom: 0px;
}

.ge{
    margin-left: 150px;
line-height: 22px;
}

.g-loc{
    display: inline;
    font-weight: normal;
}

.me{
    margin-left: 150px;
line-height: 22px;
}

.high-school{
    margin-left: 150px;
    line-height: 1;
    margin-top: 0px;
    font-style: italic;
}


.fgcu{
    margin-left: 150px;
    line-height: 1;
    margin-top: 0px;
    font-style: italic;
}

.ps{
margin-left: 150px;
}

.bi{
    margin-left: 150px;
}

.ft{
    float: right;
    margin-right:600px;
}
.self{
    float: right;
    margin-right: 578px;
}



li{
    font-family: arial;
}

.bottom{
    margin-bottom: 100px;
}

/* Work CSS*/

#accessibility-container{
 align-self: flex-end; 
 text-align: center;
}

nav{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

a{
    text-decoration: none;
    color: dimgray;
    text-align: center;
    width: 120px;
    padding: 1em 0;
    display: inline-block;
    font-family: arial;
    font-size: 18px;
    transition: all .4s ease-in-out;
}

.line{
    width: 120px;
    height: 3px;
    background-color: dimgray;
    transition: all .4s ease-in-out;
}

a:nth-child(n):hover{
    color: antiquewhite;
}


a:nth-child(2):hover ~ .line {
    transform: translate(120px);
    transition: all .4s ease-in-out;

}

a:nth-child(3):hover ~ .line {
    transform: translate(240px);
    transition: all .4s ease-in-out;
}

